src/main/java/com/wushuo/p6/UserPortType/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/User/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/User/V1" name="UserService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/User/V1" elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="http://192.168.14.217:8206/p6ws/services/UserService?xsd=1"/>

            <xsd:complexType name="CreateUsers">
                <xsd:sequence>
                    <xsd:element name="User" type="tns:User" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateUsersResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateUsers" type="tns:CreateUsers"/>
            <xsd:element name="CreateUsersResponse" type="tns:CreateUsersResponse"/>

            <xsd:complexType name="ReadUsers">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:UserFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadUsersResponse">
                <xsd:sequence>
                    <xsd:element name="User" type="tns:User" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadUsers" type="tns:ReadUsers"/>
            <xsd:element name="ReadUsersResponse" type="tns:ReadUsersResponse"/>

            <xsd:simpleType name="UserFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AllResourceAccessFlag"/>
                    <xsd:enumeration value="AssignmentStaffingPreference"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="CurrencyId"/>
                    <xsd:enumeration value="CurrencyName"/>
                    <xsd:enumeration value="CurrencyObjectId"/>
                    <xsd:enumeration value="CurrencyShowDecimals"/>
                    <xsd:enumeration value="CurrencyShowSymbol"/>
                    <xsd:enumeration value="DateFormatType"/>
                    <xsd:enumeration value="DateSeparator"/>
                    <xsd:enumeration value="DateShowFourDigitYear"/>
                    <xsd:enumeration value="DateShowMinutes"/>
                    <xsd:enumeration value="DateTimeFormatType"/>
                    <xsd:enumeration value="DateUseLeadingZero"/>
                    <xsd:enumeration value="DateUseMonthName"/>
                    <xsd:enumeration value="DurationDecimalCount"/>
                    <xsd:enumeration value="DurationUnitType"/>
                    <xsd:enumeration value="DurationUseFraction"/>
                    <xsd:enumeration value="EmailAddress"/>
                    <xsd:enumeration value="EmailProtocol"/>
                    <xsd:enumeration value="EnableUserToModifyViewSettingsFlag"/>
                    <xsd:enumeration value="FinancialPeriodEndObjectId"/>
                    <xsd:enumeration value="FinancialPeriodStartObjectId"/>
                    <xsd:enumeration value="GUID"/>
                    <xsd:enumeration value="GlobalProfileObjectId"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="MailServerLoginName"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="NewProjectDurationType"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="OfficePhone"/>
                    <xsd:enumeration value="OutgoingMailServer"/>
                    <xsd:enumeration value="PersonalName"/>
                    <xsd:enumeration value="RateSourcePreference"/>
                    <xsd:enumeration value="ReportingFlag"/>
                    <xsd:enumeration value="ResourceRequests"/>
                    <xsd:enumeration value="RespectActivityDurationType"/>
                    <xsd:enumeration value="RoleLimitDisplayOption"/>
                    <xsd:enumeration value="ShowDurationTimeUnit"/>
                    <xsd:enumeration value="ShowTimeUnit"/>
                    <xsd:enumeration value="SmallScaleDecimalCount"/>
                    <xsd:enumeration value="SmallScaleUnitType"/>
                    <xsd:enumeration value="SmallScaleUseFraction"/>
                    <xsd:enumeration value="TMSelectedActivityFilters"/>
                    <xsd:enumeration value="TMSelectedActivityFiltersJoin"/>
                    <xsd:enumeration value="TMSelectedTimesheetFilters"/>
                    <xsd:enumeration value="TeamMemberActivityFilters"/>
                    <xsd:enumeration value="TeamMemberActivityFiltersJoin"/>
                    <xsd:enumeration value="TeamMemberActivitySortField"/>
                    <xsd:enumeration value="TeamMemberActivitySortOrder"/>
                    <xsd:enumeration value="TeamMemberApplicationTheme"/>
                    <xsd:enumeration value="TeamMemberDateFormat"/>
                    <xsd:enumeration value="TeamMemberDisplayQRQuickAccess"/>
                    <xsd:enumeration value="TeamMemberDisplayTimeFlag"/>
                    <xsd:enumeration value="TeamMemberDisplayTimeFormat"/>
                    <xsd:enumeration value="TeamMemberLocale"/>
                    <xsd:enumeration value="TeamMemberProjectFilter"/>
                    <xsd:enumeration value="TeamMemberResourceFilter"/>
                    <xsd:enumeration value="TeamMemberTaskStatusFilter"/>
                    <xsd:enumeration value="TeamMemberTimeframeFilter"/>
                    <xsd:enumeration value="TeamMemberWBSFilter"/>
                    <xsd:enumeration value="TeamMemberWorkUnitType"/>
                    <xsd:enumeration value="UnitsPerTimeShowAsPercentage"/>
                    <xsd:enumeration value="UserInterfaceViewObjectId"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateUsers">
                <xsd:sequence>
                    <xsd:element name="User" type="tns:User" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateUsersResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateUsers" type="tns:UpdateUsers"/>
            <xsd:element name="UpdateUsersResponse" type="tns:UpdateUsersResponse"/>

            <xsd:complexType name="DeleteUsers">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteUsersResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteUsers" type="tns:DeleteUsers"/>
            <xsd:element name="DeleteUsersResponse" type="tns:DeleteUsersResponse"/>

            <xsd:complexType name="getFieldLengthUser">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthUserResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthUser" type="tns:getFieldLengthUser"/>
            <xsd:element name="getFieldLengthUserResponse" type="tns:getFieldLengthUserResponse"/>

            <xsd:complexType name="ReadUserBaselines">
                <xsd:sequence>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadUserBaselinesResponse">
                <xsd:sequence>
                    <xsd:element name="PrimaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SecondaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="TertiaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadUserBaselines" type="tns:ReadUserBaselines"/>
            <xsd:element name="ReadUserBaselinesResponse" type="tns:ReadUserBaselinesResponse"/>

            <xsd:complexType name="UpdateUserBaselines">
                <xsd:sequence>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="PrimaryBaselineObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SecondaryBaselineObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="TertiaryBaselineObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateUserBaselinesResponse">
                <xsd:sequence>
                    <xsd:element name="PrimaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SecondaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="TertiaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateUserBaselines" type="tns:UpdateUserBaselines"/>
            <xsd:element name="UpdateUserBaselinesResponse" type="tns:UpdateUserBaselinesResponse"/>

            <xsd:complexType name="SetUserPassword">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="OldPassword" type="xsd:string"/>
                    <xsd:element name="NewPassword" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetUserPasswordResponse">
                <xsd:sequence>
                    <xsd:element name="Success" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SetUserPassword" type="tns:SetUserPassword"/>
            <xsd:element name="SetUserPasswordResponse" type="tns:SetUserPasswordResponse"/>

            <xsd:complexType name="SetMailServerPassword">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="NewPassword" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetMailServerPasswordResponse">
                <xsd:sequence>
                    <xsd:element name="Success" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SetMailServerPassword" type="tns:SetMailServerPassword"/>
            <xsd:element name="SetMailServerPasswordResponse" type="tns:SetMailServerPasswordResponse"/>

            <xsd:complexType name="SetPrimaryBaselineProject">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                    <xsd:element name="PrimaryBaselineObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetPrimaryBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="Success" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SetPrimaryBaselineProject" type="tns:SetPrimaryBaselineProject"/>
            <xsd:element name="SetPrimaryBaselineProjectResponse" type="tns:SetPrimaryBaselineProjectResponse"/>

            <xsd:complexType name="GetPrimaryBaselineProject">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetPrimaryBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="PrimaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetPrimaryBaselineProject" type="tns:GetPrimaryBaselineProject"/>
            <xsd:element name="GetPrimaryBaselineProjectResponse" type="tns:GetPrimaryBaselineProjectResponse"/>

            <xsd:complexType name="GetSecondaryBaselineProject">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetSecondaryBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="SecondaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetSecondaryBaselineProject" type="tns:GetSecondaryBaselineProject"/>
            <xsd:element name="GetSecondaryBaselineProjectResponse" type="tns:GetSecondaryBaselineProjectResponse"/>

            <xsd:complexType name="SetSecondaryBaselineProject">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                    <xsd:element name="SecondaryBaselineObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetSecondaryBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="Success" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SetSecondaryBaselineProject" type="tns:SetSecondaryBaselineProject"/>
            <xsd:element name="SetSecondaryBaselineProjectResponse" type="tns:SetSecondaryBaselineProjectResponse"/>

            <xsd:complexType name="GetTertiaryBaselineProject">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetTertiaryBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="TertiaryBaselineObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetTertiaryBaselineProject" type="tns:GetTertiaryBaselineProject"/>
            <xsd:element name="GetTertiaryBaselineProjectResponse" type="tns:GetTertiaryBaselineProjectResponse"/>

            <xsd:complexType name="SetTertiaryBaselineProject">
                <xsd:sequence>
                    <xsd:element name="UserObjectId" type="xsd:int"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int"/>
                    <xsd:element name="TertiaryBaselineObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetTertiaryBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="Success" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SetTertiaryBaselineProject" type="tns:SetTertiaryBaselineProject"/>
            <xsd:element name="SetTertiaryBaselineProjectResponse" type="tns:SetTertiaryBaselineProjectResponse"/>

            <xsd:complexType name="LoadUserFilteredMilestoneActivities">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="Fields" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="WhereClause" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoadUserFilteredMilestoneActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityObjectIds" type="xsd:string" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="LoadUserFilteredMilestoneActivities" type="tns:LoadUserFilteredMilestoneActivities"/>
            <xsd:element name="LoadUserFilteredMilestoneActivitiesResponse" type="tns:LoadUserFilteredMilestoneActivitiesResponse"/>

            <xsd:complexType name="LoadUserFilteredActivities">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="Fields" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="WhereClause" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoadUserFilteredActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityObjectIds" type="xsd:string" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="LoadUserFilteredActivities" type="tns:LoadUserFilteredActivities"/>
            <xsd:element name="LoadUserFilteredActivitiesResponse" type="tns:LoadUserFilteredActivitiesResponse"/>

            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="AllResourceAccessFlag" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="AssignmentStaffingPreference" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="New"/>
                                <xsd:enumeration value="Existing"/>
                                <xsd:enumeration value="Ask Me"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CurrencyId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CurrencyName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="80"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CurrencyObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="CurrencyShowDecimals" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="CurrencyShowSymbol" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="DateFormatType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Month, Day, Year"/>
                                <xsd:enumeration value="Day, Month, Year"/>
                                <xsd:enumeration value="Year, Month, Day"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DateSeparator" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="/"/>
                                <xsd:enumeration value="-"/>
                                <xsd:enumeration value="."/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DateShowFourDigitYear" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="DateShowMinutes" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="DateTimeFormatType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="12 hour (1:30 PM)"/>
                                <xsd:enumeration value="24 hour (13:30)"/>
                                <xsd:enumeration value="Do not show time"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DateUseLeadingZero" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="DateUseMonthName" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="DurationDecimalCount" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0"/>
                                <xsd:enumeration value="1"/>
                                <xsd:enumeration value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DurationUnitType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Hour"/>
                                <xsd:enumeration value="Day"/>
                                <xsd:enumeration value="Week"/>
                                <xsd:enumeration value="Month"/>
                                <xsd:enumeration value="Year"/>
                                <xsd:enumeration value="Days Hours"/>
                                <xsd:enumeration value="Hours Minutes"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DurationUseFraction" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="EmailAddress" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EmailProtocol" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Internet Mail"/>
                                <xsd:enumeration value="MAPI Mail"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EnableUserToModifyViewSettingsFlag" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="FinancialPeriodEndObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="FinancialPeriodStartObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="GUID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="GlobalProfileObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MailServerLoginName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NewProjectDurationType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Fixed Units/Time"/>
                                <xsd:enumeration value="Fixed Duration and Units/Time"/>
                                <xsd:enumeration value="Fixed Units"/>
                                <xsd:enumeration value="Fixed Duration and Units"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="OfficePhone" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OutgoingMailServer" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PersonalName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RateSourcePreference" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Resource"/>
                                <xsd:enumeration value="Role"/>
                                <xsd:enumeration value="Ask Me"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ReportingFlag" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="RespectActivityDurationType" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="RoleLimitDisplayOption" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Custom Role Limit"/>
                                <xsd:enumeration value="Calculated Primary Resources Limit"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ShowDurationTimeUnit" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="ShowTimeUnit" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="SmallScaleDecimalCount" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0"/>
                                <xsd:enumeration value="1"/>
                                <xsd:enumeration value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SmallScaleUnitType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Hour"/>
                                <xsd:enumeration value="Day"/>
                                <xsd:enumeration value="Week"/>
                                <xsd:enumeration value="Month"/>
                                <xsd:enumeration value="Year"/>
                                <xsd:enumeration value="Days Hours"/>
                                <xsd:enumeration value="Hours Minutes"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SmallScaleUseFraction" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="TMSelectedActivityFilters" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TMSelectedActivityFiltersJoin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TMSelectedTimesheetFilters" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberActivityFilters" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberActivityFiltersJoin" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberActivitySortField" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberActivitySortOrder" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberApplicationTheme" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberDateFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberDisplayQRQuickAccess" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberDisplayTimeFlag" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="TeamMemberDisplayTimeFormat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberLocale" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberProjectFilter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberResourceFilter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberTaskStatusFilter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberTimeframeFilter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberWBSFilter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TeamMemberWorkUnitType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Hour"/>
                                <xsd:enumeration value="Day"/>
                                <xsd:enumeration value="Week"/>
                                <xsd:enumeration value="Month"/>
                                <xsd:enumeration value="Year"/>
                                <xsd:enumeration value="Days Hours"/>
                                <xsd:enumeration value="Hours Minutes"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UnitsPerTimeShowAsPercentage" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="UserInterfaceViewObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ResourceRequests" minOccurs="0" nillable="true">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ResourceRequest" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="FinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                                            <xsd:element name="MatchAllCriteria" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="Name" type="xsd:string" minOccurs="0" nillable="true"/>
                                            <xsd:element name="RequestedUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                                            <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                                            <xsd:element name="ShowOnlyLaborResources" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="ShowOverallocatedResources" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="SortResultsByAvailability" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                                            <xsd:element name="UseActivityDates" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="ResourceRequestCriterion" minOccurs="0" maxOccurs="unbounded">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="CriterionType">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:enumeration value="Primary Role"/>
                                                                    <xsd:enumeration value="Role"/>
                                                                    <xsd:enumeration value="Resource"/>
                                                                    <xsd:enumeration value="Resource Code"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="Proficiency" minOccurs="0">
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:enumeration value="1 - Master"/>
                                                                    <xsd:enumeration value="2 - Expert"/>
                                                                    <xsd:enumeration value="3 - Skilled"/>
                                                                    <xsd:enumeration value="4 - Proficient"/>
                                                                    <xsd:enumeration value="5 - Inexperienced"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="ValueObjectId" type="xsd:int"/>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateUsers">
        <wsdl:part name="params" element="tns:CreateUsers"/>
    </wsdl:message>
    <wsdl:message name="CreateUsersResponse">
        <wsdl:part name="result" element="tns:CreateUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadUsers">
        <wsdl:part name="params" element="tns:ReadUsers"/>
    </wsdl:message>
    <wsdl:message name="ReadUsersResponse">
        <wsdl:part name="result" element="tns:ReadUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateUsers">
        <wsdl:part name="params" element="tns:UpdateUsers"/>
    </wsdl:message>
    <wsdl:message name="UpdateUsersResponse">
        <wsdl:part name="result" element="tns:UpdateUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteUsers">
        <wsdl:part name="params" element="tns:DeleteUsers"/>
    </wsdl:message>
    <wsdl:message name="DeleteUsersResponse">
        <wsdl:part name="result" element="tns:DeleteUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUser">
        <wsdl:part name="params" element="tns:getFieldLengthUser"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUserResponse">
        <wsdl:part name="result" element="tns:getFieldLengthUserResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadUserBaselines">
        <wsdl:part name="params" element="tns:ReadUserBaselines"/>
    </wsdl:message>
    <wsdl:message name="ReadUserBaselinesResponse">
        <wsdl:part name="result" element="tns:ReadUserBaselinesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateUserBaselines">
        <wsdl:part name="params" element="tns:UpdateUserBaselines"/>
    </wsdl:message>
    <wsdl:message name="UpdateUserBaselinesResponse">
        <wsdl:part name="result" element="tns:UpdateUserBaselinesResponse"/>
    </wsdl:message>
    <wsdl:message name="SetUserPassword">
        <wsdl:part name="params" element="tns:SetUserPassword"/>
    </wsdl:message>
    <wsdl:message name="SetUserPasswordResponse">
        <wsdl:part name="result" element="tns:SetUserPasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="SetMailServerPassword">
        <wsdl:part name="params" element="tns:SetMailServerPassword"/>
    </wsdl:message>
    <wsdl:message name="SetMailServerPasswordResponse">
        <wsdl:part name="result" element="tns:SetMailServerPasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="SetPrimaryBaselineProject">
        <wsdl:part name="params" element="tns:SetPrimaryBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="SetPrimaryBaselineProjectResponse">
        <wsdl:part name="result" element="tns:SetPrimaryBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPrimaryBaselineProject">
        <wsdl:part name="params" element="tns:GetPrimaryBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="GetPrimaryBaselineProjectResponse">
        <wsdl:part name="result" element="tns:GetPrimaryBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSecondaryBaselineProject">
        <wsdl:part name="params" element="tns:GetSecondaryBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="GetSecondaryBaselineProjectResponse">
        <wsdl:part name="result" element="tns:GetSecondaryBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="SetSecondaryBaselineProject">
        <wsdl:part name="params" element="tns:SetSecondaryBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="SetSecondaryBaselineProjectResponse">
        <wsdl:part name="result" element="tns:SetSecondaryBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTertiaryBaselineProject">
        <wsdl:part name="params" element="tns:GetTertiaryBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="GetTertiaryBaselineProjectResponse">
        <wsdl:part name="result" element="tns:GetTertiaryBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="SetTertiaryBaselineProject">
        <wsdl:part name="params" element="tns:SetTertiaryBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="SetTertiaryBaselineProjectResponse">
        <wsdl:part name="result" element="tns:SetTertiaryBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="LoadUserFilteredMilestoneActivities">
        <wsdl:part name="params" element="tns:LoadUserFilteredMilestoneActivities"/>
    </wsdl:message>
    <wsdl:message name="LoadUserFilteredMilestoneActivitiesResponse">
        <wsdl:part name="result" element="tns:LoadUserFilteredMilestoneActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="LoadUserFilteredActivities">
        <wsdl:part name="params" element="tns:LoadUserFilteredActivities"/>
    </wsdl:message>
    <wsdl:message name="LoadUserFilteredActivitiesResponse">
        <wsdl:part name="result" element="tns:LoadUserFilteredActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="UserPortType">
        <wsdl:operation name="CreateUsers">
            <wsdl:input name="CreateUsersRequest" message="tns:CreateUsers"/>
            <wsdl:output name="CreateUsersResponse" message="tns:CreateUsersResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadUsers">
            <wsdl:input name="ReadUsersRequest" message="tns:ReadUsers"/>
            <wsdl:output name="ReadUsersResponse" message="tns:ReadUsersResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUsers">
            <wsdl:input name="UpdateUsersRequest" message="tns:UpdateUsers"/>
            <wsdl:output name="UpdateUsersResponse" message="tns:UpdateUsersResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteUsers">
            <wsdl:input name="DeleteUsersRequest" message="tns:DeleteUsers"/>
            <wsdl:output name="DeleteUsersResponse" message="tns:DeleteUsersResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUser">
            <wsdl:input name="getFieldLengthUserRequest" message="tns:getFieldLengthUser"/>
            <wsdl:output name="getFieldLengthUserResponse" message="tns:getFieldLengthUserResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadUserBaselines">
            <wsdl:input name="ReadUserBaselinesRequest" message="tns:ReadUserBaselines"/>
            <wsdl:output name="ReadUserBaselinesResponse" message="tns:ReadUserBaselinesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUserBaselines">
            <wsdl:input name="UpdateUserBaselinesRequest" message="tns:UpdateUserBaselines"/>
            <wsdl:output name="UpdateUserBaselinesResponse" message="tns:UpdateUserBaselinesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetUserPassword">
            <wsdl:input name="SetUserPasswordRequest" message="tns:SetUserPassword"/>
            <wsdl:output name="SetUserPasswordResponse" message="tns:SetUserPasswordResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetMailServerPassword">
            <wsdl:input name="SetMailServerPasswordRequest" message="tns:SetMailServerPassword"/>
            <wsdl:output name="SetMailServerPasswordResponse" message="tns:SetMailServerPasswordResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetPrimaryBaselineProject">
            <wsdl:input name="SetPrimaryBaselineProjectRequest" message="tns:SetPrimaryBaselineProject"/>
            <wsdl:output name="SetPrimaryBaselineProjectResponse" message="tns:SetPrimaryBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetPrimaryBaselineProject">
            <wsdl:input name="GetPrimaryBaselineProjectRequest" message="tns:GetPrimaryBaselineProject"/>
            <wsdl:output name="GetPrimaryBaselineProjectResponse" message="tns:GetPrimaryBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetSecondaryBaselineProject">
            <wsdl:input name="GetSecondaryBaselineProjectRequest" message="tns:GetSecondaryBaselineProject"/>
            <wsdl:output name="GetSecondaryBaselineProjectResponse" message="tns:GetSecondaryBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetSecondaryBaselineProject">
            <wsdl:input name="SetSecondaryBaselineProjectRequest" message="tns:SetSecondaryBaselineProject"/>
            <wsdl:output name="SetSecondaryBaselineProjectResponse" message="tns:SetSecondaryBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetTertiaryBaselineProject">
            <wsdl:input name="GetTertiaryBaselineProjectRequest" message="tns:GetTertiaryBaselineProject"/>
            <wsdl:output name="GetTertiaryBaselineProjectResponse" message="tns:GetTertiaryBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetTertiaryBaselineProject">
            <wsdl:input name="SetTertiaryBaselineProjectRequest" message="tns:SetTertiaryBaselineProject"/>
            <wsdl:output name="SetTertiaryBaselineProjectResponse" message="tns:SetTertiaryBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="LoadUserFilteredMilestoneActivities">
            <wsdl:input name="LoadUserFilteredMilestoneActivitiesRequest" message="tns:LoadUserFilteredMilestoneActivities"/>
            <wsdl:output name="LoadUserFilteredMilestoneActivitiesResponse" message="tns:LoadUserFilteredMilestoneActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="LoadUserFilteredActivities">
            <wsdl:input name="LoadUserFilteredActivitiesRequest" message="tns:LoadUserFilteredActivities"/>
            <wsdl:output name="LoadUserFilteredActivitiesResponse" message="tns:LoadUserFilteredActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UserPortBinding" type="tns:UserPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateUsers">
            <soap:operation soapAction="CreateUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadUsers">
            <soap:operation soapAction="ReadUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateUsers">
            <soap:operation soapAction="UpdateUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteUsers">
            <soap:operation soapAction="DeleteUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUser">
            <soap:operation soapAction="getFieldLengthUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadUserBaselines">
            <soap:operation soapAction="ReadUserBaselines" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateUserBaselines">
            <soap:operation soapAction="UpdateUserBaselines" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetUserPassword">
            <soap:operation soapAction="SetUserPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetMailServerPassword">
            <soap:operation soapAction="SetMailServerPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetPrimaryBaselineProject">
            <soap:operation soapAction="SetPrimaryBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetPrimaryBaselineProject">
            <soap:operation soapAction="GetPrimaryBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetSecondaryBaselineProject">
            <soap:operation soapAction="GetSecondaryBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetSecondaryBaselineProject">
            <soap:operation soapAction="SetSecondaryBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetTertiaryBaselineProject">
            <soap:operation soapAction="GetTertiaryBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetTertiaryBaselineProject">
            <soap:operation soapAction="SetTertiaryBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="LoadUserFilteredMilestoneActivities">
            <soap:operation soapAction="LoadUserFilteredMilestoneActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="LoadUserFilteredActivities">
            <soap:operation soapAction="LoadUserFilteredActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UserService">
        <wsdl:port name="UserPort" binding="tns:UserPortBinding">
            <soap:address location="http://192.168.14.217:8206/p6ws/services/UserService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>