src/com/wushuo/p6/ActivityPortType/ActivityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/Activity/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Activity/V1" name="ActivityService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Activity/V1" elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="http://192.168.14.217:8206/p6ws/services/ActivityService?xsd=1"/>

            <xsd:complexType name="CreateActivities">
                <xsd:sequence>
                    <xsd:element name="Activity" type="tns:Activity" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateActivities" type="tns:CreateActivities"/>
            <xsd:element name="CreateActivitiesResponse" type="tns:CreateActivitiesResponse"/>

            <xsd:complexType name="ReadActivities">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ActivityFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="Activity" type="tns:Activity" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivities" type="tns:ReadActivities"/>
            <xsd:element name="ReadActivitiesResponse" type="tns:ReadActivitiesResponse"/>

            <xsd:simpleType name="ActivityFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AccountingVariance"/>
                    <xsd:enumeration value="AccountingVarianceLaborUnits"/>
                    <xsd:enumeration value="ActivityOwnerUserId"/>
                    <xsd:enumeration value="ActualDuration"/>
                    <xsd:enumeration value="ActualExpenseCost"/>
                    <xsd:enumeration value="ActualFinishDate"/>
                    <xsd:enumeration value="ActualLaborCost"/>
                    <xsd:enumeration value="ActualLaborUnits"/>
                    <xsd:enumeration value="ActualMaterialCost"/>
                    <xsd:enumeration value="ActualNonLaborCost"/>
                    <xsd:enumeration value="ActualNonLaborUnits"/>
                    <xsd:enumeration value="ActualStartDate"/>
                    <xsd:enumeration value="ActualThisPeriodLaborCost"/>
                    <xsd:enumeration value="ActualThisPeriodLaborUnits"/>
                    <xsd:enumeration value="ActualThisPeriodMaterialCost"/>
                    <xsd:enumeration value="ActualThisPeriodNonLaborCost"/>
                    <xsd:enumeration value="ActualThisPeriodNonLaborUnits"/>
                    <xsd:enumeration value="ActualTotalCost"/>
                    <xsd:enumeration value="ActualTotalUnits"/>
                    <xsd:enumeration value="AtCompletionDuration"/>
                    <xsd:enumeration value="AtCompletionExpenseCost"/>
                    <xsd:enumeration value="AtCompletionLaborCost"/>
                    <xsd:enumeration value="AtCompletionLaborUnits"/>
                    <xsd:enumeration value="AtCompletionLaborUnitsVariance"/>
                    <xsd:enumeration value="AtCompletionMaterialCost"/>
                    <xsd:enumeration value="AtCompletionNonLaborCost"/>
                    <xsd:enumeration value="AtCompletionNonLaborUnits"/>
                    <xsd:enumeration value="AtCompletionTotalCost"/>
                    <xsd:enumeration value="AtCompletionTotalUnits"/>
                    <xsd:enumeration value="AtCompletionVariance"/>
                    <xsd:enumeration value="AutoComputeActuals"/>
                    <xsd:enumeration value="Baseline1Duration"/>
                    <xsd:enumeration value="Baseline1FinishDate"/>
                    <xsd:enumeration value="Baseline1PlannedDuration"/>
                    <xsd:enumeration value="Baseline1PlannedExpenseCost"/>
                    <xsd:enumeration value="Baseline1PlannedLaborCost"/>
                    <xsd:enumeration value="Baseline1PlannedLaborUnits"/>
                    <xsd:enumeration value="Baseline1PlannedMaterialCost"/>
                    <xsd:enumeration value="Baseline1PlannedNonLaborCost"/>
                    <xsd:enumeration value="Baseline1PlannedNonLaborUnits"/>
                    <xsd:enumeration value="Baseline1PlannedTotalCost"/>
                    <xsd:enumeration value="Baseline1StartDate"/>
                    <xsd:enumeration value="BaselineDuration"/>
                    <xsd:enumeration value="BaselineFinishDate"/>
                    <xsd:enumeration value="BaselinePlannedDuration"/>
                    <xsd:enumeration value="BaselinePlannedExpenseCost"/>
                    <xsd:enumeration value="BaselinePlannedLaborCost"/>
                    <xsd:enumeration value="BaselinePlannedLaborUnits"/>
                    <xsd:enumeration value="BaselinePlannedMaterialCost"/>
                    <xsd:enumeration value="BaselinePlannedNonLaborCost"/>
                    <xsd:enumeration value="BaselinePlannedNonLaborUnits"/>
                    <xsd:enumeration value="BaselinePlannedTotalCost"/>
                    <xsd:enumeration value="BaselineStartDate"/>
                    <xsd:enumeration value="BudgetAtCompletion"/>
                    <xsd:enumeration value="CBSCode"/>
                    <xsd:enumeration value="CBSId"/>
                    <xsd:enumeration value="CBSObjectId"/>
                    <xsd:enumeration value="CalendarName"/>
                    <xsd:enumeration value="CalendarObjectId"/>
                    <xsd:enumeration value="CostPercentComplete"/>
                    <xsd:enumeration value="CostPercentOfPlanned"/>
                    <xsd:enumeration value="CostPerformanceIndex"/>
                    <xsd:enumeration value="CostPerformanceIndexLaborUnits"/>
                    <xsd:enumeration value="CostVariance"/>
                    <xsd:enumeration value="CostVarianceIndex"/>
                    <xsd:enumeration value="CostVarianceIndexLaborUnits"/>
                    <xsd:enumeration value="CostVarianceLaborUnits"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="DataDate"/>
                    <xsd:enumeration value="Duration1Variance"/>
                    <xsd:enumeration value="DurationPercentComplete"/>
                    <xsd:enumeration value="DurationPercentOfPlanned"/>
                    <xsd:enumeration value="DurationType"/>
                    <xsd:enumeration value="DurationVariance"/>
                    <xsd:enumeration value="EarlyFinishDate"/>
                    <xsd:enumeration value="EarlyStartDate"/>
                    <xsd:enumeration value="EarnedValueCost"/>
                    <xsd:enumeration value="EarnedValueLaborUnits"/>
                    <xsd:enumeration value="EstimateAtCompletionCost"/>
                    <xsd:enumeration value="EstimateAtCompletionLaborUnits"/>
                    <xsd:enumeration value="EstimateToComplete"/>
                    <xsd:enumeration value="EstimateToCompleteLaborUnits"/>
                    <xsd:enumeration value="EstimatedWeight"/>
                    <xsd:enumeration value="ExpectedFinishDate"/>
                    <xsd:enumeration value="ExpenseCost1Variance"/>
                    <xsd:enumeration value="ExpenseCostPercentComplete"/>
                    <xsd:enumeration value="ExpenseCostVariance"/>
                    <xsd:enumeration value="ExternalEarlyStartDate"/>
                    <xsd:enumeration value="ExternalLateFinishDate"/>
                    <xsd:enumeration value="Feedback"/>
                    <xsd:enumeration value="FinishDate"/>
                    <xsd:enumeration value="FinishDate1Variance"/>
                    <xsd:enumeration value="FinishDateVariance"/>
                    <xsd:enumeration value="FloatPath"/>
                    <xsd:enumeration value="FloatPathOrder"/>
                    <xsd:enumeration value="FreeFloat"/>
                    <xsd:enumeration value="GUID"/>
                    <xsd:enumeration value="HasFutureBucketData"/>
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsCritical"/>
                    <xsd:enumeration value="IsLongestPath"/>
                    <xsd:enumeration value="IsNewFeedback"/>
                    <xsd:enumeration value="IsStarred"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="IsWorkPackage"/>
                    <xsd:enumeration value="LaborCost1Variance"/>
                    <xsd:enumeration value="LaborCostPercentComplete"/>
                    <xsd:enumeration value="LaborCostVariance"/>
                    <xsd:enumeration value="LaborUnits1Variance"/>
                    <xsd:enumeration value="LaborUnitsPercentComplete"/>
                    <xsd:enumeration value="LaborUnitsVariance"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="LateFinishDate"/>
                    <xsd:enumeration value="LateStartDate"/>
                    <xsd:enumeration value="LevelingPriority"/>
                    <xsd:enumeration value="LocationName"/>
                    <xsd:enumeration value="LocationObjectId"/>
                    <xsd:enumeration value="MaterialCost1Variance"/>
                    <xsd:enumeration value="MaterialCostPercentComplete"/>
                    <xsd:enumeration value="MaterialCostVariance"/>
                    <xsd:enumeration value="MaximumDuration"/>
                    <xsd:enumeration value="MinimumDuration"/>
                    <xsd:enumeration value="MostLikelyDuration"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="NonLaborCost1Variance"/>
                    <xsd:enumeration value="NonLaborCostPercentComplete"/>
                    <xsd:enumeration value="NonLaborCostVariance"/>
                    <xsd:enumeration value="NonLaborUnits1Variance"/>
                    <xsd:enumeration value="NonLaborUnitsPercentComplete"/>
                    <xsd:enumeration value="NonLaborUnitsVariance"/>
                    <xsd:enumeration value="NotesToResources"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="OwnerIDArray"/>
                    <xsd:enumeration value="OwnerNamesArray"/>
                    <xsd:enumeration value="PercentComplete"/>
                    <xsd:enumeration value="PercentCompleteType"/>
                    <xsd:enumeration value="PerformancePercentComplete"/>
                    <xsd:enumeration value="PerformancePercentCompleteByLaborUnits"/>
                    <xsd:enumeration value="PhysicalPercentComplete"/>
                    <xsd:enumeration value="PlannedDuration"/>
                    <xsd:enumeration value="PlannedExpenseCost"/>
                    <xsd:enumeration value="PlannedFinishDate"/>
                    <xsd:enumeration value="PlannedLaborCost"/>
                    <xsd:enumeration value="PlannedLaborUnits"/>
                    <xsd:enumeration value="PlannedMaterialCost"/>
                    <xsd:enumeration value="PlannedNonLaborCost"/>
                    <xsd:enumeration value="PlannedNonLaborUnits"/>
                    <xsd:enumeration value="PlannedStartDate"/>
                    <xsd:enumeration value="PlannedTotalCost"/>
                    <xsd:enumeration value="PlannedTotalUnits"/>
                    <xsd:enumeration value="PlannedValueCost"/>
                    <xsd:enumeration value="PlannedValueLaborUnits"/>
                    <xsd:enumeration value="PostRespCriticalityIndex"/>
                    <xsd:enumeration value="PostResponsePessimisticFinish"/>
                    <xsd:enumeration value="PostResponsePessimisticStart"/>
                    <xsd:enumeration value="PreRespCriticalityIndex"/>
                    <xsd:enumeration value="PreResponsePessimisticFinish"/>
                    <xsd:enumeration value="PreResponsePessimisticStart"/>
                    <xsd:enumeration value="PrimaryConstraintDate"/>
                    <xsd:enumeration value="PrimaryConstraintType"/>
                    <xsd:enumeration value="PrimaryResourceId"/>
                    <xsd:enumeration value="PrimaryResourceName"/>
                    <xsd:enumeration value="PrimaryResourceObjectId"/>
                    <xsd:enumeration value="ProjectFlag"/>
                    <xsd:enumeration value="ProjectId"/>
                    <xsd:enumeration value="ProjectName"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="ProjectProjectFlag"/>
                    <xsd:enumeration value="RemainingDuration"/>
                    <xsd:enumeration value="RemainingEarlyFinishDate"/>
                    <xsd:enumeration value="RemainingEarlyStartDate"/>
                    <xsd:enumeration value="RemainingExpenseCost"/>
                    <xsd:enumeration value="RemainingFloat"/>
                    <xsd:enumeration value="RemainingLaborCost"/>
                    <xsd:enumeration value="RemainingLaborUnits"/>
                    <xsd:enumeration value="RemainingLateFinishDate"/>
                    <xsd:enumeration value="RemainingLateStartDate"/>
                    <xsd:enumeration value="RemainingMaterialCost"/>
                    <xsd:enumeration value="RemainingNonLaborCost"/>
                    <xsd:enumeration value="RemainingNonLaborUnits"/>
                    <xsd:enumeration value="RemainingTotalCost"/>
                    <xsd:enumeration value="RemainingTotalUnits"/>
                    <xsd:enumeration value="ResumeDate"/>
                    <xsd:enumeration value="ReviewFinishDate"/>
                    <xsd:enumeration value="ReviewRequired"/>
                    <xsd:enumeration value="ReviewStatus"/>
                    <xsd:enumeration value="SchedulePercentComplete"/>
                    <xsd:enumeration value="SchedulePerformanceIndex"/>
                    <xsd:enumeration value="SchedulePerformanceIndexLaborUnits"/>
                    <xsd:enumeration value="ScheduleVariance"/>
                    <xsd:enumeration value="ScheduleVarianceIndex"/>
                    <xsd:enumeration value="ScheduleVarianceIndexLaborUnits"/>
                    <xsd:enumeration value="ScheduleVarianceLaborUnits"/>
                    <xsd:enumeration value="ScopePercentComplete"/>
                    <xsd:enumeration value="SecondaryConstraintDate"/>
                    <xsd:enumeration value="SecondaryConstraintType"/>
                    <xsd:enumeration value="StartDate"/>
                    <xsd:enumeration value="StartDate1Variance"/>
                    <xsd:enumeration value="StartDateVariance"/>
                    <xsd:enumeration value="Status"/>
                    <xsd:enumeration value="StatusCode"/>
                    <xsd:enumeration value="SuspendDate"/>
                    <xsd:enumeration value="TaskStatusCompletion"/>
                    <xsd:enumeration value="TaskStatusDates"/>
                    <xsd:enumeration value="TaskStatusIndicator"/>
                    <xsd:enumeration value="ToCompletePerformanceIndex"/>
                    <xsd:enumeration value="TotalCost1Variance"/>
                    <xsd:enumeration value="TotalCostVariance"/>
                    <xsd:enumeration value="TotalFloat"/>
                    <xsd:enumeration value="Type"/>
                    <xsd:enumeration value="UnitsPercentComplete"/>
                    <xsd:enumeration value="UnreadCommentCount"/>
                    <xsd:enumeration value="WBSCode"/>
                    <xsd:enumeration value="WBSName"/>
                    <xsd:enumeration value="WBSNamePath"/>
                    <xsd:enumeration value="WBSObjectId"/>
                    <xsd:enumeration value="WBSPath"/>
                    <xsd:enumeration value="WorkPackageId"/>
                    <xsd:enumeration value="WorkPackageName"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateActivities">
                <xsd:sequence>
                    <xsd:element name="Activity" type="tns:Activity" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateActivities" type="tns:UpdateActivities"/>
            <xsd:element name="UpdateActivitiesResponse" type="tns:UpdateActivitiesResponse"/>

            <xsd:complexType name="DeleteActivities">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteActivities" type="tns:DeleteActivities"/>
            <xsd:element name="DeleteActivitiesResponse" type="tns:DeleteActivitiesResponse"/>

            <xsd:complexType name="getFieldLengthActivity">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthActivityResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthActivity" type="tns:getFieldLengthActivity"/>
            <xsd:element name="getFieldLengthActivityResponse" type="tns:getFieldLengthActivityResponse"/>

            <xsd:complexType name="CopyActivity">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="TargetProjectObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="TargetWBSObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="TargetActivityId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CopyResourceAndRoleAssignments" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyRelationships" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyActivityCodes" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyActivityNotes" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyActivityExpenses" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyActivitySteps" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyProjectDocuments" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CopyPastPeriodActuals" type="xsd:boolean" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CopyActivityResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CopyActivity" type="tns:CopyActivity"/>
            <xsd:element name="CopyActivityResponse" type="tns:CopyActivityResponse"/>

            <xsd:complexType name="ReadAllActivitiesByWBS">
                <xsd:sequence>
                    <xsd:element name="WBSObjectId" type="xsd:int"/>
                    <xsd:element name="Field" type="tns:ActivityFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadAllActivitiesByWBSResponse">
                <xsd:sequence>
                    <xsd:element name="Activity" type="tns:Activity" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadAllActivitiesByWBS" type="tns:ReadAllActivitiesByWBS"/>
            <xsd:element name="ReadAllActivitiesByWBSResponse" type="tns:ReadAllActivitiesByWBSResponse"/>

            <xsd:complexType name="DissolveActivity">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DissolveActivityResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DissolveActivity" type="tns:DissolveActivity"/>
            <xsd:element name="DissolveActivityResponse" type="tns:DissolveActivityResponse"/>

            <xsd:complexType name="Activity">
                <xsd:sequence>
                    <xsd:element name="AccountingVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AccountingVarianceLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActivityOwnerUserId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ActualDuration" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActualExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ActualLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ActualMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualNonLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ActualNonLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ActualStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualThisPeriodLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ActualThisPeriodLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualThisPeriodMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualThisPeriodNonLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ActualThisPeriodNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualTotalUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionDuration" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AtCompletionExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="AtCompletionLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="AtCompletionLaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionNonLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="AtCompletionNonLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="AtCompletionTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionTotalUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AutoComputeActuals" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="Baseline1Duration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1FinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1PlannedTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Baseline1StartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselineDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselineFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselinePlannedTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="BaselineStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="BudgetAtCompletion" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CBSCode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1024"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CBSId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="CBSObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="CalendarName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CalendarObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="CostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostPercentOfPlanned" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostPerformanceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostPerformanceIndexLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostVarianceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostVarianceIndexLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostVarianceLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DataDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Duration1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="DurationPercentComplete" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DurationPercentOfPlanned" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="DurationType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Fixed Units/Time"/>
                                <xsd:enumeration value="Fixed Duration and Units/Time"/>
                                <xsd:enumeration value="Fixed Units"/>
                                <xsd:enumeration value="Fixed Duration and Units"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DurationVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EarlyFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="EarlyStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="EarnedValueCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EarnedValueLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EstimateAtCompletionCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EstimateAtCompletionLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EstimateToComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EstimateToCompleteLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EstimatedWeight" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ExpectedFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ExpenseCost1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ExpenseCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ExpenseCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ExternalEarlyStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ExternalLateFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Feedback" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FinishDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="FinishDate1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="FinishDateVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="FloatPath" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="FloatPathOrder" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="FreeFloat" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="GUID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HasFutureBucketData" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="Id" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsCritical" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsLongestPath" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsNewFeedback" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsStarred" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsWorkPackage" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="LaborCost1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LaborCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LaborCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LaborUnits1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LaborUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LateFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LateStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LevelingPriority" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Top"/>
                                <xsd:enumeration value="High"/>
                                <xsd:enumeration value="Normal"/>
                                <xsd:enumeration value="Low"/>
                                <xsd:enumeration value="Lowest"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LocationName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LocationObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="MaterialCost1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="MaterialCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="MaterialCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="MaximumDuration" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MinimumDuration" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MostLikelyDuration" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NonLaborCost1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="NonLaborCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="NonLaborCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="NonLaborUnits1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="NonLaborUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="NonLaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="NotesToResources" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="OwnerIDArray" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OwnerNamesArray" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PercentCompleteType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Physical"/>
                                <xsd:enumeration value="Duration"/>
                                <xsd:enumeration value="Units"/>
                                <xsd:enumeration value="Scope"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PerformancePercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PerformancePercentCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PhysicalPercentComplete" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PlannedDuration" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PlannedExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PlannedFinishDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PlannedLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PlannedLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PlannedMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PlannedNonLaborCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PlannedNonLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PlannedStartDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PlannedTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PlannedTotalUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PlannedValueCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PlannedValueLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PostRespCriticalityIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PostResponsePessimisticFinish" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="PostResponsePessimisticStart" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="PreRespCriticalityIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PreResponsePessimisticFinish" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="PreResponsePessimisticStart" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="PrimaryConstraintDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="PrimaryConstraintType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Start On"/>
                                <xsd:enumeration value="Start On or Before"/>
                                <xsd:enumeration value="Start On or After"/>
                                <xsd:enumeration value="Finish On"/>
                                <xsd:enumeration value="Finish On or Before"/>
                                <xsd:enumeration value="Finish On or After"/>
                                <xsd:enumeration value="As Late As Possible"/>
                                <xsd:enumeration value="Mandatory Start"/>
                                <xsd:enumeration value="Mandatory Finish"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PrimaryResourceId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PrimaryResourceName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PrimaryResourceObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ProjectFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProjectId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProjectName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ProjectProjectFlag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RemainingDuration" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RemainingEarlyFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingEarlyStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingFloat" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="RemainingLateFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingLateStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingNonLaborUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="RemainingTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingTotalUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ResumeDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ReviewFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ReviewRequired" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ReviewStatus" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="OK"/>
                                <xsd:enumeration value="For Review"/>
                                <xsd:enumeration value="Rejected"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SchedulePercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SchedulePerformanceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SchedulePerformanceIndexLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ScheduleVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ScheduleVarianceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ScheduleVarianceIndexLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ScheduleVarianceLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ScopePercentComplete" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="SecondaryConstraintDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SecondaryConstraintType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Start On"/>
                                <xsd:enumeration value="Start On or Before"/>
                                <xsd:enumeration value="Start On or After"/>
                                <xsd:enumeration value="Finish On"/>
                                <xsd:enumeration value="Finish On or Before"/>
                                <xsd:enumeration value="Finish On or After"/>
                                <xsd:enumeration value="As Late As Possible"/>
                                <xsd:enumeration value="Mandatory Start"/>
                                <xsd:enumeration value="Mandatory Finish"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="StartDate1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="StartDateVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Status" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Not Started"/>
                                <xsd:enumeration value="In Progress"/>
                                <xsd:enumeration value="Completed"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StatusCode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Planned"/>
                                <xsd:enumeration value="Active"/>
                                <xsd:enumeration value="Inactive"/>
                                <xsd:enumeration value="What-If"/>
                                <xsd:enumeration value="Requested"/>
                                <xsd:enumeration value="Template"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SuspendDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="TaskStatusCompletion" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="BOTH_NOT_COMPLETE"/>
                                <xsd:enumeration value="TASKS_COMPLETE_ACTIVITY_NOT"/>
                                <xsd:enumeration value="ACTIVITY_COMPLETE_TASKS_NOT"/>
                                <xsd:enumeration value="BOTH_COMPLETE"/>
                                <xsd:enumeration value="NO_TASKS"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TaskStatusDates" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="AT_LEAST_ONE_OUTSIDE"/>
                                <xsd:enumeration value="ALL_WITHIN"/>
                                <xsd:enumeration value="NO_TASK_DATES"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TaskStatusIndicator" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="ToCompletePerformanceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalCost1Variance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalFloat" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="Type" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Task Dependent"/>
                                <xsd:enumeration value="Resource Dependent"/>
                                <xsd:enumeration value="Level of Effort"/>
                                <xsd:enumeration value="Start Milestone"/>
                                <xsd:enumeration value="Finish Milestone"/>
                                <xsd:enumeration value="WBS Summary"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="UnreadCommentCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="WBSCode" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="WBSName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="WBSNamePath" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WBSObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="WBSPath" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WorkPackageId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="WorkPackageName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateActivities">
        <wsdl:part name="params" element="tns:CreateActivities"/>
    </wsdl:message>
    <wsdl:message name="CreateActivitiesResponse">
        <wsdl:part name="result" element="tns:CreateActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivities">
        <wsdl:part name="params" element="tns:ReadActivities"/>
    </wsdl:message>
    <wsdl:message name="ReadActivitiesResponse">
        <wsdl:part name="result" element="tns:ReadActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivities">
        <wsdl:part name="params" element="tns:UpdateActivities"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivitiesResponse">
        <wsdl:part name="result" element="tns:UpdateActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivities">
        <wsdl:part name="params" element="tns:DeleteActivities"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivitiesResponse">
        <wsdl:part name="result" element="tns:DeleteActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivity">
        <wsdl:part name="params" element="tns:getFieldLengthActivity"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityResponse">
        <wsdl:part name="result" element="tns:getFieldLengthActivityResponse"/>
    </wsdl:message>
    <wsdl:message name="CopyActivity">
        <wsdl:part name="params" element="tns:CopyActivity"/>
    </wsdl:message>
    <wsdl:message name="CopyActivityResponse">
        <wsdl:part name="result" element="tns:CopyActivityResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAllActivitiesByWBS">
        <wsdl:part name="params" element="tns:ReadAllActivitiesByWBS"/>
    </wsdl:message>
    <wsdl:message name="ReadAllActivitiesByWBSResponse">
        <wsdl:part name="result" element="tns:ReadAllActivitiesByWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="DissolveActivity">
        <wsdl:part name="params" element="tns:DissolveActivity"/>
    </wsdl:message>
    <wsdl:message name="DissolveActivityResponse">
        <wsdl:part name="result" element="tns:DissolveActivityResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ActivityPortType">
        <wsdl:operation name="CreateActivities">
            <wsdl:input name="CreateActivitiesRequest" message="tns:CreateActivities"/>
            <wsdl:output name="CreateActivitiesResponse" message="tns:CreateActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivities">
            <wsdl:input name="ReadActivitiesRequest" message="tns:ReadActivities"/>
            <wsdl:output name="ReadActivitiesResponse" message="tns:ReadActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivities">
            <wsdl:input name="UpdateActivitiesRequest" message="tns:UpdateActivities"/>
            <wsdl:output name="UpdateActivitiesResponse" message="tns:UpdateActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivities">
            <wsdl:input name="DeleteActivitiesRequest" message="tns:DeleteActivities"/>
            <wsdl:output name="DeleteActivitiesResponse" message="tns:DeleteActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivity">
            <wsdl:input name="getFieldLengthActivityRequest" message="tns:getFieldLengthActivity"/>
            <wsdl:output name="getFieldLengthActivityResponse" message="tns:getFieldLengthActivityResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="CopyActivity">
            <wsdl:input name="CopyActivityRequest" message="tns:CopyActivity"/>
            <wsdl:output name="CopyActivityResponse" message="tns:CopyActivityResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadAllActivitiesByWBS">
            <wsdl:input name="ReadAllActivitiesByWBSRequest" message="tns:ReadAllActivitiesByWBS"/>
            <wsdl:output name="ReadAllActivitiesByWBSResponse" message="tns:ReadAllActivitiesByWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DissolveActivity">
            <wsdl:input name="DissolveActivityRequest" message="tns:DissolveActivity"/>
            <wsdl:output name="DissolveActivityResponse" message="tns:DissolveActivityResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ActivityPortBinding" type="tns:ActivityPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateActivities">
            <soap:operation soapAction="CreateActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivities">
            <soap:operation soapAction="ReadActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivities">
            <soap:operation soapAction="UpdateActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivities">
            <soap:operation soapAction="DeleteActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivity">
            <soap:operation soapAction="getFieldLengthActivity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CopyActivity">
            <soap:operation soapAction="CopyActivity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadAllActivitiesByWBS">
            <soap:operation soapAction="ReadAllActivitiesByWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DissolveActivity">
            <soap:operation soapAction="DissolveActivity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ActivityService">
        <wsdl:port name="ActivityPort" binding="tns:ActivityPortBinding">
            <soap:address location="http://192.168.14.217:8206/p6ws/services/ActivityService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>